.dropdown-content {
    background-color: #a5a58d;
    box-shadow: 6b705c;
    width: 5rem;
}

.dropdown-item:hover {
    background-color: #6b705c;
}

.dropdown-item {
    color: #ffe8d6;
}

.buttonD {
    height: 2.5em;
    width: 5rem;
    border-radius: 15%;
    border: 0.5px solid grey;
}