.dropdown-content {
    background-color: #a5a58d;
    box-shadow: 6b705c;
    width: 3rem;
}

.dropdown-item:hover {
    background-color: #6b705c;
}

.dropdown-item {
    color: #ffe8d6;
}

.buttonD {
    height: 2.5em;
    width: 3rem;
    border-radius: 15%;
    border: 0.5px solid grey;
}

#one {
    color : rgb(0,148,126);
}

#two {
    color : rgb(244,15,53);
}